.login-container {
    bottom: 12rem;
    max-width: 700px;
    border-radius: 20px;
    background: white;
    padding: 30px;
    color: black;
    margin: 100px auto auto;
    box-shadow: 0 4px 8px 0 red, 0 6px 20px 0 red;
}

.page-title {
    text-align: center;
}

.login-form-button {
    width: 100%;
    padding: 10px 0;
    margin-top: 30px;
    outline: none;
    border: none;
    background: red;
    opacity: 0.7;
    border-radius: 20px;
    font-size: 20px;
    color: white;
}

.login-form-button:hover {
    cursor: pointer;
    background: #ea1f13;
    color: white;
    transition: .5s;
}