.app-header {
    height: 56px;
    z-index: 10;
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.app-title {
    color: #EA2626;
    font-size: 24px;
    float: left;
    font-weight: bold;
    padding-left: 15px;
    margin: auto 0;
}

.app-title:hover{
    color: #EA2626 !important;
}
.newMenu{
    display: flex;
    float: right;
    padding-right: 10px;
    border: 0px;
    padding-bottom: 10px !important;
    margin-bottom: 10px !important;
}

.menuLink{
    font-weight: bold;
    text-decoration: none;
    color: #000 !important;
    padding-bottom: 15px;
}

.menuLink:hover{
    text-decoration-line: underline;
}

.app-title:hover{
    text-decoration-line: underline;
}

.signup__btn {
    width: 100px;
    height: 30px;
    display: flex;
    background-color: #EA2626;
    border-radius: 5px;
    align-items: center;
    margin-bottom: 10px;
    
}

.register-link{
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;
    color: #fff !important;
    font-size: 18px;
}

.register-link:hover{
    text-decoration-line: underline;
    color: #000;
}
.login-link{
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    
}
.login-link:hover{
    text-decoration-line: underline;
    color: #000 !important;
}
.ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left {
     border-right: 0px !important;
}